{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} About {% endblock %}</h1>
    <!-- <img src="file:///figures/IMG_3780.jpg" alt="ERROR"> -->
    <br>
    <p>Website made up by Xavier Benedicto using Flask.</p>
    <br>
    <hr>
    <nav class="nav justify-content-center">
        <a class="nav-link active" aria-current="page" href="https://github.com/xavibemo">GitHub</a>
        <a class="nav-link" href="https://www.linkedin.com/in/xavier-benedicto/">LinkedIn</a>
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
    </nav>
{% endblock %}