{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome! {% endblock %}</h1>
    <p>Some text.</p>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Caspase Cutter</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="caspases" class="btn btn-success btn-sm"> Caspases Project </a>
        </div>
      </div>
    <br>
    <span class="badge rounded-pill text-bg-warning">Still in construction!</span>
{% endblock %}